<button (click)="refresh()">Refresh</button>
<div class="list-group">
  <div
    class="list-group-item list-group-item-action"
    *ngFor="let cryptoCurrency of cryptoCurrencies$ | async"
    routerLink="{{ cryptoCurrency.id }}"
  >
    <div>
      <b>Rank:</b>
      {{ cryptoCurrency.cmc_rank }}
    </div>
    <div>
      <b>symbol:</b>
      {{ cryptoCurrency.symbol }}
    </div>
    <div *ngIf="fiat">
      <b>{{ fiat }}:</b>
      {{ cryptoCurrency.quote[fiat].price }}
    </div>
    <div *ngIf="fiat">
      <b>24h:</b>
      {{ cryptoCurrency.quote[fiat].percent_change_24h }}
    </div>
  </div>
</div>
